@model SocialBloggers.Models.AllUserSummary

<h1 class="cute-font" text-center">All Users</h1>

@foreach (var item in Model.Users)
{
    <div class="account modern-font blue-color @item.ColorClass" >
            <a id="username">@Html.DisplayFor(modelItem => item.Username)</a>
        @if(item.Username != Model.CurrentUser.Username)
        {
            if (item.Follows)
            {
                <button  class="float-right follow-btn">Unfollow</button>
            }
            else
            {
                <button  class="float-right follow-btn">Follow</button>
            }
        }
    </div>
}
      