@{
    ViewBag.Title = "User Page";
}
<div class="center ">
    <h1 class="cute-font center-text">Social Bloggers</h1>
</div>
<br />
<div class="center">
    <div class="credential-form">
        <div class="textbox-input">
            <input id="username" placeholder="Username" type="text" />
            <p id="username-error" hidden class="text-danger">User doesn't exist</p>
        </div>
        <br />
        <div class="textbox-input">
            <input id="password" placeholder="Password" type="text" />
            <p id="password-error" hidden class="text-danger">Incorrect password</p>
            <div class="center"><button class="login" id="login">LOGIN</button></div>
        </div>
        <br />
        <div class="center">
            <a href="/Home/CreateAccount">Create An Account</a>
        </div>
    </div>

</div>